# ==============================================================================
# PostgreSQL Remote Environment Template (env.sample)
# ==============================================================================
# This file is used by CI/CD to inject secrets via 'envsubst'.

# 📦 Image Version
POSTGRES_TAG=$POSTGRES_TAG

# 🌐 Networking (Internal to Traefik)
APP_DOMAIN=$APP_DOMAIN

# 🔑 Credentials
# Primary password for the 'postgres' superuser
POSTGRES_PASSWORD=$POSTGRES_PASSWORD

# Default database to create on startup (optional)
POSTGRES_DB=$POSTGRES_DB

# Default administrative user (optional, defaults to 'postgres')
POSTGRES_USER=$POSTGRES_USER
