stages:
  - deploy

before_script:
  ## https://docs.gitlab.com/ci/jobs/ssh_keys/
  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "$SSH_KNOWN_HOSTS" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - echo "StrictHostKeyChecking no" >> ~/.ssh/config

deploy_runner:
  stage: deploy
  rules:
    - changes:
        - gitlab-runner/**
  script:
    - envsubst < gitlab-runner/config/config.sample > gitlab-runner.env
    - scp gitlab-runner.env -p $SSH_PORT $SSH_USER@$CONTROLLER:/tools/gitlab-runner/config/config.toml
    - ssh -p $SSH_PORT $SSH_USER@$CONTROLLER "
        cd /tools/gitlab-runner &&
        git pull && 
        docker compose pull &&
        docker compose up -d"
  when: manual

deploy_traefik:
  stage: deploy
  rules:
    - changes:
        - traefik/**
  script:
    - envsubst < traefik/env.sample > traefik.env
    - scp traefik.env -p $SSH_PORT $SSH_USER@$CONTROLLER:/tools/traefik/.env
    - ssh -p $SSH_PORT $SSH_USER@$CONTROLLER "
        cd /tools/traefik &&
        git pull && 
        docker compose pull &&
        docker compose up -d"
  when: manual
