.vscode
.DS_Store
.env

# grafana
**/grafana

# mysql
**/mysql/data

# n8n
**/n8n/data

# pgsql
**/pgsql/data

# portainer
**/portainer/data

# prometheus
**/prometheus

#traefik
**/traefik/certs
**/traefik/log

digitalocean
init.sh
Notes
