.vscode
.DS_Store

# Ignore all generated service-level .env files
services/*/.env
.env-copy

# grafana
**/services/grafana/data

# mysql
**/mysql/data

# n8n
**/n8n/data

# pgsql
**/pgsql/data

# portainer
**/portainer/data

# prometheus
**/services/prometheus/data

#traefik
**/traefik/certs
**/traefik/log

digitalocean
Notes
