stages:
  - deploy

before_script:
  - apt-get update && apt-get install gettext-base -y
  ## https://docs.gitlab.com/ci/jobs/ssh_keys/
  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cp "$SSH_KNOWN_HOSTS" ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - echo "StrictHostKeyChecking no" >> ~/.ssh/config

deploy_wud:
  stage: deploy
  rules:
    - changes: 
        - wud/**
  script:
    - envsubst < wud/env.sample > wud.env
    - scp -P $SSH_PORT wud.env $SSH_USER@$CONTROLLER:/tools/wud/.env
    - ssh -p $SSH_PORT $SSH_USER@$CONTROLLER "
        cd /tools/wud &&
        git pull && 
        docker compose pull &&
        docker compose up -d"
  when: manual

deploy_runner:
  stage: deploy
  rules:
    - changes:
        - gitlab-runner/**/*
  script:
    - envsubst < gitlab-runner/config/config.sample > gitlab-runner.env
    - scp -P $SSH_PORT gitlab-runner.env  $SSH_USER@$CONTROLLER:/tools/gitlab-runner/config/config.toml
    - ssh -p $SSH_PORT $SSH_USER@$CONTROLLER "
        cd /tools/gitlab-runner &&
        git pull && 
        docker compose pull &&
        docker compose up -d"
  when: manual

deploy_traefik:
  stage: deploy
  rules:
    - changes:
        - traefik/**
  script:
    - envsubst < traefik/env.sample > traefik.env
    - scp -P $SSH_PORT traefik.env $SSH_USER@$CONTROLLER:/tools/traefik/.env
    - ssh -p $SSH_PORT $SSH_USER@$CONTROLLER "
        cd /tools/traefik &&
        git pull && 
        docker compose pull &&
        docker compose up -d"
  when: manual

deploy_portainer:
  stage: deploy
  rules:
    - changes: 
        - portainer/**
  script:
    - envsubst < portainer/env.sample > portainer.env
    - scp -P $SSH_PORT portainer.env $SSH_USER@$CONTROLLER:/tools/portainer/.env
    - ssh -p $SSH_PORT $SSH_USER@$CONTROLLER "
        cd /tools/portainer &&
        git pull && 
        docker compose pull &&
        docker compose up -d"
  when: manual

deploy_mysql:
  stage: deploy
  rules:
    - changes: 
        - mysql/**
  script:
    - envsubst < mysql/env.sample > mysql.env
    - scp -P $SSH_PORT mysql.env $SSH_USER@$CONTROLLER:/tools/mysql/.env
    - ssh -p $SSH_PORT $SSH_USER@$CONTROLLER "
        cd /tools/mysql &&
        git pull && 
        docker compose pull &&
        docker compose up -d"
  when: manual